* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #333844;
    font-family: "Heebo", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }